[submodule "module/Streetlamp"]
	path = module/Streetlamp
	url = https://github.com/comcduarte/lampModule
[submodule "module/Midnet"]
	path = module/Midnet
	url = https://github.com/comcduarte/midnetModule
