[submodule "module\\Streetlamp"]
	path = module\\Streetlamp
	url = ssh://git@github.com/comcduarte/lampModule
[submodule "module/Midnet"]
	path = module/Midnet
	url = ssh://git@github.com/comcduarte/midnetModule
